root = true

[*]
indent_style = space      # 탭 대신 스페이스 사용
indent_size = 4          # 들여쓰기 4칸
charset = utf-8          # UTF-8 인코딩
trim_trailing_whitespace = true  # 불필요한 공백 제거
insert_final_newline = true  # 파일 끝 개행 추가

[*.java]
max_line_length = 120  # Java 코드의 최대 길이 120자
